<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
  <connectionStrings>
    <!--<add name="ADP_Db_NewEntities"
      connectionString="metadata=res://*/ADPModel.csdl|res://*/ADPModel.ssdl|res://*/ADPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=INBENKJUCHANI\SQLEXPRESS;initial catalog=ADP_Db_New;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>-->
    <add name="ADP_DB_New1Entities" connectionString="metadata=res://*/ADPModel.csdl|res://*/ADPModel.ssdl|res://*/ADPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\ADP_DB_New1.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="AwayDayPlanner.Properties.Settings.ADP_Db_NewConnectionString"
      connectionString="Data Source=INBENKJUCHANI\SQLEXPRESS;Initial Catalog=ADP_Db_New;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <add name="AwayDayPlanner.Properties.Settings.ADP_Db_NewConnectionString"
  connectionString="Data Source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\ADP_DB_New1.mdf;Initial Catalog=ADP_DB_New1;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>